<mat-card  class="card-container">
  <mat-card-header>
    <mat-card-title>Step 1: Account setup</mat-card-title>
  </mat-card-header>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Enter email">
    @if (form.get('email')!.invalid && form.get('email')!.touched) {
    <mat-error>
      {{ form.get('email')!.hasError('required') ? 'Email is required' : 'Enter a valid email' }}
    </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" placeholder="Enter password">
    @if (form.get('password')!.invalid && form.get('password')!.touched) {
      <mat-error>
        Password is required.
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm password">
    @if (form.get('confirmPassword')!.hasError('required') && form.get('confirmPassword')!.touched) {
      <mat-error>
        Confirm Password is required.
      </mat-error>
    } @else if (form.get('confirmPassword')!.hasError('isMismatch') && form.get('confirmPassword')!.touched) {
      <mat-error>
        Passwords do not match.
      </mat-error>
    }
  </mat-form-field>
  </mat-card-content>


  <mat-card-actions class="flex-items-end">
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    Next
  </button>
  </mat-card-actions>
</form>

</mat-card>
