@import '@angular/material/prebuilt-themes/azure-blue.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}

.card-container {
  width: 500px;
  gap: 10px;
}

.full-width {
  width: 100%;
}

.flex-items-end {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
